body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: @font-abel;
    color: @color-font;
    background: @bg-color-1;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
}

p {
    margin: 0;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

.center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.color-primary {
    color: @color-primary;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;

    li {
        margin: 0 0 15px 0;
        color: @color-white;
        letter-spacing: 4px;
        font-size: 28px;
        font-weight: bold;

        &:before {
            content: "";
            width: 100px;
            margin: 0 auto;
            display: block;
            height: 2px;
            margin-bottom: 20px;
            background-color: lighten(@bg-color-1, 3%);
        }

        &:first-child {
            margin-top: 20px;

            &:before {
                display: none;
            }
        }
    }
}

.btn {
    background-color: @color-primary;
    color: @color-white;
    font-family: @font-robot;
    border: @color-white;
    width: 100%;
    padding: 12px 0;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 8px;
    margin-top: 10px;
}

.robot {
    font-family: @font-robot;
}

.vert {
    font-style: italic;
}

label {
    background-color: @bg-color-2;
    font-size: 14px;
    display: block;
    margin: 0;
    padding-top: 10px;
    color: fade(@color-font, 50%)
}

.amount {
    background-color: @bg-color-2;
    color: white;
    border: none;
    padding: 2px 0 5px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    width: 100%;

    &:focus, &:active {
        outline: none;
    }
}

.currency {
    font-size: 18px;
    display: inline-block;
    color: @color-font;
}

.rates {
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 6px;
    font-size: 20px;
    line-height: 18px;
}

.last-update {
    color: fade(@color-white, 30%);
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    margin-top: 10px;
    text-transform: uppercase;

    &-date {
        color: @color-white;
        font-size: 16px;
        line-height: 16px;
    }
}