body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: @font-abel;
    color: @color-font;
    background: @bg-color-1;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
}

p {
    margin: 0;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

.center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.color-primary {
    color: @color-primary;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 0;

    li {
        margin: 0 0 15px 0;
        color: @color-white;
        letter-spacing: 4px;
        font-size: 28px;
        font-weight: bold;

        &:before {
            content: "";
            width: 100px;
            margin: 0 auto;
            display: block;
            height: 2px;
            margin-bottom: 20px;
            background-color: lighten(@bg-color-1, 3%);
        }

        &:first-child {
            margin-top: 20px;

            &:before {
                display: none;
            }
        }
    }
}

.btn {
    background: @bg-color-2 url(@refresh) no-repeat center center;
    background-size: 40px 40px;
    width: 60px;
    height: 60px;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -30px;
    margin-left: -30px;
    border: none;
    outline: none;
    transition: all 1s ease;

    &-clicked {
        transform: rotate(-360deg);
        transition: none;
    }
}

.robot {
    font-family: @font-robot;
}

.vert {
    font-style: italic;
}

label {
    background-color: @bg-color-2;
    font-size: 14px;
    display: block;
    margin: 0;
    padding-top: 10px;
    color: fade(@color-font, 50%)
}

.amount {
    background-color: @bg-color-2;
    color: white;
    border: none;
    padding: 2px 0 5px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    width: 100%;

    &:focus, &:active {
        outline: none;
    }
}

.price-dollar {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
}

.stake {
    margin-top: 95px;
}

.currency {
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    color: @color-font;
}

.title {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 6px;
    margin-top: 40px;
    margin-bottom: 5px;
    font-weight: normal;
    text-transform: uppercase;
}

.rates {
    margin-bottom: 20px;
}

.last-update {
    color: fade(@color-white, 30%);
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    margin: 5px 10px;
    text-transform: uppercase;

    &-date {
        color: @color-white;
        font-size: 16px;
        line-height: 16px;
    }
}

.input-wrapper {
    position: fixed;
    bottom: 0;
    left: 15px;
    right: 15px;
    padding: 15px 0;
}

.error-container {
    background-color: @color-negative;
    padding: 10px;
    color: @color-white;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

/* Small devices (tablets, 768px and up) */
@media @screen-tablet {
    .price-dollar {
        position: static;
    }

    .title {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .stake {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .stake, .rates {
        background-color: @bg-color-3;
        padding: 25px;
    }

    .input-wrapper {
        position: static;
        padding: 0;
    }

    .amount, label {
        background-color: @bg-color-1;
    }

    .amount {
        padding: 50px 0;
    }
}