body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: @color-font;
    background: @bg-color-1;
}

p {
    margin: 0 0 15px 0;
    font-size: 17px;
    line-height: 29px;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

.center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.color-primary {
    color: @color-primary;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.btn {
    background-color: @color-primary;
    color: @color-white;
}